<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<resultMap type="dto.BoardDTO" 		id="board">
		<id column="BOARD_NUM" 			property="boardNum"/> 
		<result column="TITLE" 			property="title"/>
		<result column="CONTENT" 		property="content"/>
		<result column="WRITER" 		property="writer"/>
		<result column="CREATE_DATE" 	property="createDate"/>
		<result column="READ_CNT" 		property="readCnt"/>
		<result column="IS_PRIVATE" 	property="isPrivate"/>
		<result column="BOARD_PW" 		property="boardPw"/>
		<result column="ATTACHED_NAME" 	property="attachedName"/>
	</resultMap>
	
	<resultMap type="dto.ReplyDTO" 		id="reply">
		<id 	column="REPLY_NUM" 		property="replyNum"/>
		<result column="CONTENT" 		property="content"/>
		<result column="WRITER" 		property="writer"/>
		<result column="CREATE_DATE" 	property="createDate"/>
		<result column="BOARD_NUM" 		property="boardNum"/>
	</resultMap>
	
	
	<select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
		    , TITLE
		    , WRITER
		    , CREATE_DATE
		    , READ_CNT
		    , IS_PRIVATE
		    , BOARD_PW
		    , ATTACHED_NAME
		    , ROW_NUM
		FROM 
		(
		    SELECT BOARD_NUM
		        , TITLE
		        , WRITER
		        , CREATE_DATE
		        , READ_CNT
		        , IS_PRIVATE
		        , BOARD_PW
		        , ATTACHED_NAME
		        , ROWNUM AS ROW_NUM
		    FROM 
		    (
		        SELECT BOARD_NUM
		            , TITLE
		            , WRITER
		            , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
		            , READ_CNT
		            , IS_PRIVATE
		            , BOARD_PW
		            , ATTACHED_NAME
		        FROM BOARD
		        <if test="searchValue != null and !searchValue.equals('')">
					WHERE UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
				</if>
		        ORDER BY BOARD_NUM DESC
		    )
		)
		WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
	
		<!-- < : &lt;  10 < 5     -->
		<!-- > : &gt;  10 > 5     -->
	</select>
	<insert id="insertBoard">
		INSERT INTO BOARD (
			BOARD_NUM
			, TITLE
			, CONTENT
			, WRITER
			, IS_PRIVATE
			, BOARD_PW
		) VALUES (
			(SELECT NVL(MAX(BOARD_NUM), 0) + 1 FROM BOARD)
			, #{title}
			, #{content}
			, #{writer}
			, #{isPrivate}
			, #{boardPw}
		)
	</insert>
	<select id="selectBoardDetail" resultMap="board">
		SELECT BOARD_NUM
			, TITLE
			, CONTENT
			, WRITER
			, CREATE_DATE
			, READ_CNT
			, IS_PRIVATE
			, BOARD_PW
			, ATTACHED_NAME
		FROM BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>
	<update id="updateReadCnt">
		UPDATE BOARD
		SET 
		READ_CNT = READ_CNT + 1
		WHERE BOARD_NUM = #{boardNum}
	</update>
	<delete id="deleteBoard">
		DELETE BOARD
		WHERE BOARD_NUM = #{boardNum}
	</delete>
	
	<select id="selectBoardListCnt" resultType="int">
		SELECT COUNT(BOARD_NUM)
		FROM BOARD
		<if test="searchValue != null and !searchValue.equals('')">
			WHERE UPPER(${searchKeyword}) LIKE '%'||UPPER(#{searchValue})||'%'
		</if>
	</select>
	
	
	
	<insert id="insertReply">
		INSERT INTO REPLY (
			REPLY_NUM
			, CONTENT
			, WRITER
			, BOARD_NUM
		) VALUES (
			(SELECT NVL(MAX(REPLY_NUM), 0) + 1 FROM REPLY)
			, #{content}
			, #{writer}
			, #{boardNum}
		)
	</insert>
	<select id="selectReplyList" resultMap="reply">
		SELECT REPLY_NUM
			, CONTENT
			, WRITER
			, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE
		FROM REPLY
		WHERE BOARD_NUM = #{boardNum}
		ORDER BY REPLY_NUM DESC
	</select>
	
	<delete id="deleteReply">
		DELETE FROM REPLY
		WHERE REPLY_NUM = #{replyNum}
	</delete>
	
	<delete id="deleteReplyForDeleteBoard">
		DELETE REPLY
		WHERE BOARD_NUM = #{boardNum}
	</delete>
	
</mapper>
























